Architecture: amd64
Depends: libc6 (>=2.31.0)
Description: Adaptive Huffman Algorithm
Homepage: https://github.com/kei-g/vitter
Maintainer: kei-g <km.8k6ce+debpkg@gmail.com>
Package: vitter
Priority: optional
Section: misc
Source: vitter
Version: 1.0.0
